version: 2.1
orbs:
  node: circleci/node@1.0.1
jobs:
  lint:
    docker:
      - image: circleci/node:10.15
    steps:
      - checkout
      - run: git submodule update --init
      - run: yarn
      - run: yarn run lint
  ansible-lint:
    docker:
      - image: particlekit/ansible-lint
    steps:
      - checkout
      - run: ./deployment/lint.sh
  oracle-e2e:
    docker:
      - image: circleci/node:10.15
    steps:
        - checkout
        - setup_remote_docker
        - run: yarn run oracle-e2e
  ui-e2e:
    machine:
      image: circleci/classic:latest
    steps:
        - checkout
        - run: git submodule update --init
        - run: yarn
        - run: yarn run ui-e2e
  test:
    machine:
      image: circleci/classic:latest
    steps:
        - checkout
        - run: curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
        - run: echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
        - run: sudo apt-get update && sudo apt-get install yarn
        - run: wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
        - run: sudo dpkg -i google-chrome-stable_current_amd64.deb
        - run: git submodule update --init
        - run: yarn
        - run: yarn run ui-e2e
workflows:
  tokenbridge:
    jobs:
      - test
